.fundao {
    padding: 30px;
    margin: 30px;
}

.ticketTop {
    padding: 2px;
    margin: 10px;
    background-color: #6495ED;
    border: 1px solid black;
    width: 40%;
    height: 150px;
    align-content: center;
    padding: 20px;
}

table,
td,
th>tickeTop {
    margin: 2px;
    align-items: center;
}

table,
th,
td {
    border: 1px solid black;
}